/*
UTILITIES ------------------------------------------------------------------------------------------
Display-related utilities
*/

.vh-scrollable {
  height: calc(100vh - 3.25rem); // TODO properly import variable $navbar-height
  overflow-y: scroll;
  overflow-x: hidden;
}

.box-transparent {
  background-color: transparent;
}

.hr-tight {
  margin: .75rem 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.grayscale {
  /*
    We can turn this into a function or make more classes for specific grayscale values
    if we end up with the need for values below 100.
  */
  filter: grayscale(100%);
}

.inset-overflow-shadow {
  /* These values reflect Bulma's .box box-shadow only inset and at .2 vs .1 opacity */
  box-shadow: inset 0px -3px 1px -2px rgba(10, 10, 10, .2);
}
